* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.table, .table__th, .table__td {
    border-collapse: collapse;
    border: 1px solid #dddddd;
}

.table__th {
    background: #efefef;
    padding: 5px 10px;
}

.table__tr:nth-child(odd) {
    background: #F7F7F7;
}

.table__td {
    padding: 5px 10px;
}

.table {
    width: 400px;
    margin-top: 200px;
    text-align: center;
}